@use "libs/index" as *;

/* principale */

*{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body{
    padding-left: 30px;
    padding-right: 30px;
    a{
        text-decoration: none;
        color: black;
    }
}

/* ****************** header ****************************** */

.header{
    display: flex;
    justify-content: space-between;
    &__nav{
        display: flex;
        a{
            padding: 45px 35px 0 35px;
            margin-top: -7.8px;
            font-size: 18px;
        }
    }
    &__nav--active{
        @extend %nav-link-effet;   
    }
    &__nav--hover{
        &:hover{
            @extend %nav-link-effet;
        }
    }
    
}

/* ****************** break-point ****************************** */

@media #{$phone} {
    body{
        padding: 0;
        margin: 0;
    }
    .header{
        @include flex-center(column);
        img{
            padding-left: 60px;
        }
        &__nav{
            @include width-specific(100%);
        }
        a{
            padding: 0 0 23px 0;
            text-align: center;
            margin: 0;
        }
        &__nav--active{
            border-top: none;
            border-bottom: solid 3.5px $primo ;
            @include width-specific;
        }
        &__nav--hover{
            border-bottom: 3.5px solid $secundo;
            @include width-specific;
            &:hover{
                display: none;
            }
        }
    }
}

/* ************* sous-header *************** */


.sous-header__search{
    display: flex;
    height: 55px;
    margin-top: 20px;
    &__box-icon{
        display: flex;
        @include flex-center(column);
        background-color: $secundo;
        height: 55px;
        @include width-specific(45px);
        @include raduis-left;
    }
    &__input{
        border: $secundo solid 2.3px;
        border-right: none;
        font-weight: bold;
        padding-left: 10px;
    }
    &__btn{
        border: none;
        background-color: $primo;
        color: white;
        @include raduis-right;
        &:hover {
            background-color: darken($primo, 15);
            @include hover;
        }
    }
    &__btn--ico-recherche{
        display: none;
    }
   
}

 /* break point 
****************************************************************************************/

@media #{$phone} {
    .sous-header__search{
        height: 65px;
        justify-content: center;
        &__box-icon{
            height: 65px;
            width: 55px;
            @include raduis-left;
        }
        &__input{
            border-right: none;
            width: 245px;
            font-size: 19px;
        }
        &__btn--rchercher{
            display: none;
        }
        &__btn--ico-recherche{
            display: flex;
            width: 50px;
            justify-content: center;
        }
        &__btn{
            border-radius: 11px;
             &:hover {
                 display: none;
             }
        }
    }  
}

/* Les filtres */

.sous-header__filtres{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    i{
        color: $primo;
    }
    div:hover{
        .sous-header__filtres__Economique__box-icon{
            @include box-icon-hover;
            @include hover(.25s);
        }
    }

    &__Economique{
        @include filtres-proprietes;
        @include width-specific(183px);
        &__box-icon{
            @include flex-center;
            @include box-icon;
        }
        &:hover{
            color: white;
            background: $primo;
            @include hover(.25s);
        }
    }
    &__Familial{
        @extend .sous-header__filtres__Economique;
        @include width-specific(149px);
        &__box-icon{
            @extend .sous-header__filtres__Economique__box-icon;
        }
    }
    &__Romantique{
        @extend .sous-header__filtres__Economique;
        @include width-specific(180px);
        &__box-icon{
            @extend .sous-header__filtres__Economique__box-icon;
        }

    }
    &__Animaux{
        @extend .sous-header__filtres__Economique;
        @include width-specific(227px);
        &__box-icon{
            @extend .sous-header__filtres__Economique__box-icon;
        }
    }
}

/* break point 
************************************
************************************
****************/

@media #{$phone} {
    .sous-header__filtres{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
        &__Economique, &__Familial, &__Romantique, &__Animaux{
            margin: 8px;
        }
    }
}